* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
h3{    
    text-transform:uppercase;
}
.container {
    width: 80%;
    margin: 30px auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.box{
    width: calc(100% /3 - 10px);
    float: left;
    margin-right: 10px;
    margin-bottom: 150px;


}

/* *****immagini***** */
.img-pag{
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.img-hover{
    width: 100%;
    height: 600px;
    object-fit: cover;
    display: none;
}

.box:hover .img-pag{
    display: none;
}
.box:hover .img-hover{
    display: inline-block;
}
/* *****didascalia***** */
.marca-txt{
    font-size: smaller;
}
.prezzo-txt{
    font-size: small;
    color: red;
}
.sconto-txt{
    text-decoration: line-through;
}
/* ***** debug ***** */

/* .container.debug{
    height: 600px;
    background-color: lightcoral;
} */

.debug .box{
    height: 600px;
    background-color: lightseagreen;
    /* border: 1px solid black; */
}